.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.community-menu{
    font-size: 13px;
    color: #999;
}
.error{
    margin: 40px;
}

.btn-comment{
    margin-bottom: 20px;
    float: right;
}