<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>opendragon 社区主页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">opendragon社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user} == null"><a href="https://github.com/login/oauth/authorize?client_id=b9a52c873efad241e9f9&scope=user&state=1">登录</a></li>
                <li th:if="${session.user != null}"><a href="/publish">发布</a></li>
                <li th:if="${session.user != null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息</a></li>
                        <li><a href="#">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin: 30px;background-color: white">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <hr/>

            <div th:each="question : ${questions}">
                <div class="media" style="margin-top: 15px">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" th:src="${question.getUser().getAvatarUrl()}" alt="..." style="height: 55px;width: 55px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                        <span th:text="${question.getDescription()}"></span></span><br>
                        <span class="text-desc">
                            <span th:text="${question.getCommentCount()}"></span>个回复 •
                            <span th:text="${question.getViewCount()}"></span> 次浏览 •
                            <span th:text="${#dates.format(question.getGmtModified(), 'yyyy-MMM-dd')}"> </span>
                        </span>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <h2>热门话题</h2>
        </div>
    </div>
</div>
</body>
</html>