<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>问题详情</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #efefef">
<div th:insert="navigation :: nav"></div>
<div class="container-fluid" style="margin: 30px;background-color: white">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <h3><span aria-hidden="true" th:text="${question.getTitle()}">发现</span></h3>
            <span class="text-desc">
                作者：<span th:text="${question.getUser().getName()}"></span> |
                发布时间：<span th:text="${#dates.format(question.getGmtModified(), 'yyyy-MMM-dd')}"> </span> |
                阅读：<span th:text="${question.getViewCount()}"></span>
            </span>
            <hr/>
            <span th:text="${question.getDescription()}"></span>
            <hr/>
            <a th:if="${session.user != null && session.user.getId() == question.getCreator()}" th:href="@{'/publish/'+${question.getId()}}"><span class="glyphicon glyphicon-pencil community-menu">编辑</span></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">

            <h3>发起者</h3>
            <hr>
            <img class="img-rounded" th:src="${question.getUser().getAvatarUrl()}" alt="..." style="height: 55px;width: 55px">
            <hr>
            <h3>相关问题</h3>
        </div>
    </div>
</div>
</body>
</html>